<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mosesmin.android.criminalintentmm">

    <!--  代码清单16-13 添加 <uses-feature> 标签（AndroidManifest.xml） // start 告知用户应用有拍照功能-->
    <uses-feature android:name="android.hardware.camera"
        android:required="false"
        />
    <!--  代码清单16-13 添加 <uses-feature> 标签（AndroidManifest.xml） // end 告知用户应用有拍照功能-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CriminalIntentMm">
        <!--    代码清单8-12 声明CrimeListActivity为launcher activity（AndroidManifest.xml） //start   -->
        <activity android:name=".CrimeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--    代码清单8-12 声明CrimeListActivity为launcher activity（AndroidManifest.xml） //end   -->

        <!-- 代码清单11-5 添加 CrimePagerActivity 到manifest配置文件（AndroidManifest.xml） // start -->
        <!-- 代码清单13-11 启用向上按钮（AndroidManifest.xml）  添加parentActivityName属性// start  -->
        <!--  <activity android:name=".CrimeActivity">-->
            <activity android:name=".CrimePagerActivity"
                android:parentActivityName=".CrimeListActivity">
        <!-- 代码清单13-11 启用向上按钮（AndroidManifest.xml）  添加parentActivityName属性// end  -->
        <!-- 代码清单11-5 添加 CrimePagerActivity 到manifest配置文件（AndroidManifest.xml） // end -->

        </activity>

        <!--  代码清单16-2 添加 FileProvider 声明（AndroidManifest.xml） // start  -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mosesmin.android.criminalintentmm.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- 代码清单16-4 关联使用路径描述资源（AndroidManifest.xml） // start -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files"/>
            <!-- 代码清单16-4 关联使用路径描述资源（AndroidManifest.xml） // end -->
        </provider>
        <!--  代码清单16-2 添加 FileProvider 声明（AndroidManifest.xml） // end  -->

    </application>

</manifest>